* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
  background-color: #eee;
  overflow: hidden;

  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}


/********** Paper **********/
#paper {
  font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 12pt;
  line-height: 1.2;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  background-color: #fff;
  padding: 40px;
  margin-left: 20px;
  width: 74vw;
  height: calc(85vh - 20px);
  /* border: 4px solid red; */
  outline: none;
  color: black;

  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  overflow: auto;

  -webkit-user-select: auto; /* Safari 3.1+ */
  -moz-user-select: auto; /* Firefox 2+ */
  -ms-user-select: auto; /* IE 10+ */
  user-select: auto; /* Standard syntax */

  white-space: pre;
}


/********** Menu **********/
#menu {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  background-color: white;
  text-align: center;
  padding: 30px;
  width: 220px;
  height: 85vh;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}


/********** Buttons **********/
.mdl-button :not(.mdl-button--colored) {
  text-transform: none !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

.gray {
  color: rgba(0, 0, 0, 0.7) !important;
}


/********** Text Color Buttons **********/
.color {
  padding: 4px;
  border-radius: 2px;
}
.color:hover {
  background-color: #eee;
  cursor: pointer;
}


/********** Tooltips **********/
.mdl-tooltip {
  z-index: 2 !important;
}
.fontTypeToolTip {
  left: 140px !important;
  top: 200px !important;
}
.fontSizeToolTip {
  left: 140px !important;
  top: 258px !important;
}
.bold {
  left: 84px !important;
  top: 300px !important;
}
.underlined {
  left: 120px !important;
  top: 300px !important;
}
.italic {
  left: 156px !important;
  top: 300px !important;
}
.strikethrough {
  left: 194px !important;
  top: 300px !important;
}
