/* Created by SaddleSneeze */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #ff5722;
  font-family: "Roboto", sans-serif;
}

.login {
  width: 340px;
  padding: 6% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  padding-bottom: 15px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}

.input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f4511e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.button:hover,.button:active,.button:focus {
  background: #e64a19;
}

#message {
  margin: 20px 0 -7.5px;
  color: red;
  font-size: 12px;
}

.message {
  margin: 15px 0 -15px;
  font-size: 12px;
}
