*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-color: white;
}

body {
    font-family: "Segoe UI", "Roboto", arial, sans-serif;
    background-color: #152247;

    background-image: url("../snow.gif"); /* https://ruletheweb.co.uk/letitsnow/t.gif */
    background-size: 200px; /* 600px */
    background-blend-mode: soft-light;
}

.hidden {
    display: none !important;
}

/* SNOW */

.snow-container {
    pointer-events: none;
    height: 100vh;
    /* height: 7000px; */
    /* width: 100vw; */
    overflow: hidden;
    z-index: -1;
}
.snowflake {
    position: absolute;
    top: -10px;
    left: 50%;

    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* background-color: white; */
    background-color: rgb(247, 252, 243);
    filter: blur(2px);

    animation: fall 10s linear forwards infinite;
    animation-delay: 1s;
}

/* animating snowflake in Y-axis  */

@keyframes fall {
    from {
        /* transform: translateY(-10%); */
        top: -1%;
    }
    to {
        /* transform: translateY(100%); */
        top: 98%;
    }
}

.snow {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100vw;
    background-color: white;
    filter: blur(4px);
}

/* MAIN */

footer {
    position: fixed;
    bottom: 10px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    user-select: none;
    width: 100vw;
    text-align: center;
}

#back {
    position: absolute;
    top: 13px;
    left: 10px;

    cursor: pointer;
    fill: white;
    /* padding-top: 3px; */
}
#back:hover {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8));
}
#back:active {
    fill: rgba(255, 255, 255, 0.6);
}

/* DROPDOWN */

.year {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.dropdown {
    height: 40px;
    width: calc(18vh * 6 + 20px * 5);
    background-color: red;
    border: 3px solid white;

    color: white;
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
select {
    border: none;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 2px 10px;
    width: 100%;
    background: red;
    cursor: pointer;
    transition: background-color 0.3s, transform 1s;
}
select:hover {
    background-color: #c40000;
}

/* DOORS */

#doors,
#doorsClone {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.door {
    /* width: 75vw;
    height: 75vw; */
    height: 18vh;
    width: 18vh;
    background-color: red;
    border: 3px solid white;
    /* margin: 20px 0; */
    user-select: none;

    color: white;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
    transition: background-color 0.3s, transform 1s;

    /* css grid.... / flex..? */
}
.door:hover:not(.locked) {
    background-color: #c40000;
    /* transform: rotateY(-45deg) translateX(-100%); */
    /* transform: rotateZ(20deg) translateX(-25%); */
    transform: rotateZ(-10deg) translateX(-70%) translateY(-25%);
    /* z-index: 2; */
}
.door.locked {
    cursor: default;
    opacity: 0.5;
}
.door.opened {
    /* background-color: rgb(255, 60, 0); */
    transform: rotateZ(10deg) translateX(-50%);
    /* transform: rotateZ(-10deg) translateX(-70%) translateY(-25%); */
}
/* .door.opened:hover:not(.locked) {
    background-color:  rgb(230, 54, 0);
} */
#doorsClone .door {
    /* background-color: #350000; */
    background-color: rgba(255, 255, 255, 0.8);
    /* opacity: 0.5; */
    /* filter: blur(2px); */
}
#doorsClone .door.locked {
    opacity: 0;
}

/* MEDIA */

/* @media screen and (min-width: 400px) {
    .door {
        background-color: lavender;
    }
} */

/* @media screen and (max-width: 1100px) {
  .door {
    height: 18vh;
    width: 18vh;
  }
  .dropdown {
    width: calc(18vh * 6 + 20px * 5);
  }
} */
@media screen and (max-width: 800px) {
    .door {
        height: 18vh;
        width: 18vh;
    }
    .dropdown {
        width: calc(18vh * 6 + 20px * 5);
    }
}
@media screen and (max-width: 700px) {
    #doors,
    #doorsClone {
        grid-template-columns: repeat(4, 1fr);
        /* top: 20px;
        transform: translate(-50%, 0%); */
    }
    .dropdown {
        width: calc(18vh * 4 + 20px * 3);
    }
}
@media screen and (max-width: 500px) {
    #doors,
    #doorsClone {
        grid-template-columns: repeat(3, 1fr);
    }
    .door {
        height: 18vh;
        width: 18vh;
    }
    .dropdown {
        width: calc(18vh * 3 + 20px * 2);
    }
}
@media screen and (max-width: 420px) {
    #doors,
    #doorsClone {
        grid-template-columns: repeat(1, 1fr);
    }
    .door {
        height: 35vh;
        width: 35vh;
        font-size: 8em;
    }
    .dropdown {
        width: 35vh;
    }
}
/* @media screen and (max-width: 350px) {
    #doors, #doorsClone {
        grid-template-columns: repeat(1, 1fr);
    }
    .door {
        height: 45vh;
        width: 45vh;
        font-size: 7em;
    }
} */

/* PLAYER */

#day {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);

    font-size: 1em;
    color: white;
}
/* #day .verse {
    
} */

#player {
    user-select: none;

    box-shadow: 0 0 14px rgba(0, 0, 0, 0.6);
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); */

    width: 100vw;
}

#day .verse {
    /* font-family: 'Dancing Script', cursive; */
    font-family: "Caveat", cursive;
    font-size: 1.8em;
    padding: 15px 10vw;
}

@media screen and (max-width: 1100px) {
    #player {
        /* width: 85vw; */
        height: 350px;
    }
    #day .verse {
        padding: 15px 20px;
    }
}
@media screen and (max-width: 500px) {
    #player {
        /* width: 100vw; */
        height: 200px;
    }
}

/* CANDLE */
/* https://codepen.io/shorinamaria/pen/VbepBe */

.candles {
    --flame-height: 150px;
    --wick-height: 50px;
    --orange: #ff6a00;
    --dark: #2c2b39;
    --blue-dark: #30537d;
    --blue-light: #76daff;
    --orange-yellow: #a7179b;
    --yellow: #ff00ea;
    --yellow-grey: #582a54;

    /* --orange-yellow: #ff9224;
    --yellow: #fbf348;
    --yellow-grey: #58523a; */

    /* background: #111; */
    display: flex;
    position: absolute;
    width: 100%;
    height: 130%;
    overflow: hidden;
}

.candle {
    width: 50px;
    margin: 30px auto 0 auto;
    position: relative;
    height: 80%;
    align-self: flex-end;
    z-index: 100;

    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}
.candle.blink {
    animation: blink 0.1s infinite;
}

.wick {
    position: absolute;
    width: 6px;
    height: var(--wick-height);
    background: #23161a;
    top: calc(var(--flame-height) - 0.8 * var(--wick-height));
    left: 50%;
    transform: translateX(-50%) skewX(2deg);
    border-radius: 10%;
    box-shadow: 0 0 2px 0px black;
}
.candle.blink .wick:before {
    opacity: 1;
}
.wick:before {
    transition: opacity 1s;
    opacity: 0;

    content: "";
    position: absolute;
    width: 0;
    left: 50%;
    height: 10px;
    box-shadow: 0 -14px 10px 8px white, 0 -10px 10px 8px rgba(255, 215, 0, 0.7), 0 -3px 10px 8px rgba(255, 106, 0, 0.7), 0 6px 3px 4px black;
}
.wick:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0px;
    height: 0px;
    box-shadow: 0 5px 2px 3px gold, 0 20px 2px 14px gold, 0 -6px 4px 5px rgba(98, 33, 27, 0.8), 0 0px 1px 4px rgba(255, 106, 0, 0.7), 0 0px 3px 4px var(--orange), 0 5px 3px 4px gold;
}

.candle.blink .flame {
    opacity: 1;
}
.flame {
    transition: opacity 2s;
    opacity: 0;

    width: 20px;
    height: var(--flame-height);
    margin: 0px auto;
    position: relative;
    animation: move 3s infinite, move-left 3s infinite;
    transform-origin: 50% 90%;
}
.flame .top {
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border-top-left-radius: 500%;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 500%;
    border-bottom-right-radius: 50px;
    transform: skewY(-10deg);
    box-shadow: 0 0px 0px 3px white, 0 -20px 1px 4px white, 0 -25px 2px 3px gold, 0 -30px 5px 4px var(--orange), 0 0px 150px 10px var(--orange), 0 -10px 2px 4px white, 0 -5px 3px 3px white;
    animation: flame-up 4s infinite;
}
.flame .shadows {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 5px 20px 15px gold, 0 0px 100px 20px var(--orange), 0 15px 50px 15px var(--orange), 5px 30px 5px 13px var(--orange), 5px 50px 5px 13px var(--orange), 0 75px 50px 30px black;
}
.flame .bottom {
    transform: scale(0.9);
    position: absolute;
    bottom: 6px;
    left: 9px;
    width: 1px;
    height: 8px;
    border-radius: 1%;
    background: var(--dark);
    box-shadow: 0 6px 10px 12px rgba(60, 76, 125, 0.3), 0 0px 4px 8px var(--dark), 0 -12px 10px 8px rgba(255, 106, 0, 0.5), 0 5px 7px 12px var(--dark), 0 -3px 10px 12px var(--dark), 5px -10px 10px 5px red, 0 -15px 10px 10px gold,
        5px -25px 10px 5px gold, 0 2px 5px 10px var(--blue-dark), 0 -2px 2px 14px var(--blue-light), 0 2px 10px 12px var(--blue-light);
}

.wax {
    position: relative;
    top: 15px;
    width: 100%;
    height: 100%;
    background: var(--orange-yellow);
    background: -moz-linear-gradient(top, var(--orange-yellow) 0px, var(--orange-yellow) 20px, var(--yellow-grey) 50px); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, var(--orange-yellow) 0px, var(--orange-yellow) 20px, var(--yellow-grey) 50px); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, var(--orange-yellow) 0px, var(--orange-yellow) 20px, var(--yellow-grey) 50px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9224', endColorstr='#58523a',GradientType=0 ); /* IE6-9 */

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0 7px 12px -2px var(--yellow), inset 0 9px 57px -3px rgba(255, 0, 0, 0.4), inset 0 -5px 8px 2px black, 0 0 3px 0px var(--orange);
}

@keyframes move {
    0% {
        transform: skewX(2deg) skewY(5deg);
    }
    50% {
        transform: skewX(-2deg) skewY(-0deg);
    }
    100% {
        transform: skewX(2deg) skewY(5deg);
    }
}
@keyframes move-left {
    50% {
        transform: skewX(3deg);
    }
}
@keyframes flame-up {
    50% {
        box-shadow: 0 0px 0px 3px white, 0 -38px 1px 2px white, 0 -41px 2px 3px gold, 0 -50px 5px 4px var(--orange), /* orange top */ 0 0px 150px 10px var(--orange), /* orange global */ 0 -10px 2px 4px white, 0 -5px 3px 3px white;
    }
}
@keyframes blink {
    50% {
        opacity: 0.95;
    }
}
